<p>
	<strong>Title</strong>
	<%= @account.title %>
</p>

<p>
	<strong>Autor:</strong>
	<%= @account.author %>
</p>

<h2>Reviews</h2>
<% @account.reviews.each do |r| %>
	<p>
		<strong>Nota:</strong>
		<%= r.rate %>
	</p>

	<p>
		<strong>Comentário:</strong>
		<%= r.comment %>
	</p>
<%= end %>

<h2>Avalie esse livro:</h2>
<%= form_for([@account.reviews.build]) do |f| %>
	<p>
		<%= f.label :rate %><br>
		<%= f.range_field(:rate, in:1..5) %>
	</p>
	<p>
		<%= f.label :comment %><br>
		<%= f.text_area :comment %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>