<%= form_for @user do |f| %>
	<%if @user.errors.any? %>
		<div id="error">
			<h2>
				<%= pluralize(@user.errors.count, 'error') %> prohibited this user from begin saved:
			</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<p> 
	<%= f.label :name %><br> 
	<%= f.text_field :name %> 
</p> 
<p> 
	<%= f.label :cpf %><br> 
	<%= f.text_field :cpf %> 
</p>

<p> 
	<%= f.submit %> 
</p>
<% end %>